*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #5649c2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;

}


body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
	}
}

.telegram {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.container-logo {
  display: flex;
  align-items: center;
}

.logo-txt {
  margin-left: 20px;
  color: #ffffff;
}

.telegram:hover {
  background-color: rgba(100, 100, 100, 0.5)
}

.text-1 {
	text-align: center;
	display: flex;
	font-size: 1rem;
}

.section {
	margin: 15px 0;
	padding: 20px 0;
	background: linear-gradient(247deg,#53783a,#58d001,#856494,#c108bf,#3768f6,#cac70f);
	background-size: 360% 360%;
	animation: gradient-animation 18s ease infinite;
  color: #ffffff;

}

@keyframes gradient-animation{
	0% {
		background-position: 0% 50%;
	}
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
	}
}

.btn-telegram {
	display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
	justify-content: space-around;
	align-items: center;
	padding: -20px 0;
	border-radius: 10px 20px 40px 30px;
	margin: 10px;
	position: relative;
	text-align: center;
	
}

.btn-join-now {
	position: absolute;
	z-index:1;
	top: 50%;
	left: 50%;
	width: 60px;
  height: 30px;
	padding: 70px;
	margin: -15px 0 0 -30px;
	border-radius: 10px 20px 40px 30px;
	border: 0 none;
	box-shadow: 7.5px 7.5px 7.5px 3px black;
}

.telegram-link {
	text-decoration: none;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.logo-btn {
	margin: 5px;
	margin-left: 15px;
	margin-top: -5px;
	padding: 10px;
	height: 200px;
	width: 200px;
	
}





















